.header {
    //background-color: #EEF4FF;
    background: #f2f0f5;
    padding: 30px 24px;
    display: flex;
    align-items: center;
    gap: 90px;

    .header-img {
        max-width: 900px;
        width: 100%;

        img {
            width: 100%;
            height: auto;
            animation: float 5s infinite;
        } 
    }
    .is-typed {
        width: 100%;
        max-width: 800px;
        min-height: 200px;
        text-align: center;

        .typed {
            font-size: 9vmin;
            color: #4a3d5c;
        }
    }
}

@media only screen and (max-width: 1300px) {
    .header {
        gap: 30px;
        padding-bottom: 60px;
    }
}

@media only screen and (max-width: 850px) {
    .header {
        gap: 10px;
        display: block;
        padding-bottom: 80px;
 
        .header-img {
            max-width: 260px;
            margin: 0 auto;
        }
        .is-typed {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }
    }
}

@media only screen and (max-width: 450px) {
    .header {
       display: flex;
       flex-direction: column;

       .is-typed {
        width: 100%;
        max-width: 600px;
        min-height: 100px;
        }
    }
}