.header {
    background-color: #EEF4FF;
    padding: 30px 24px;
    display: flex;
    align-items: center;
    position: relative;
    gap: 90px;

    .header-img {
        max-width: 900px;
        width: 100%;

        img {
            width: 100%;
            height: auto;
            animation: float 5s infinite;
        } 
    }
    .typed {
        font-size: 70px;
        color: #4a3d5c;
    }
}

@media only screen and (max-width: 1300px) {
    .header {
        gap: 30px;
        padding-bottom: 60px;
    }
}

@media only screen and (max-width: 850px) {
    .header {
        gap: 10px;
        display: block;
        padding-bottom: 80px;
 
        .header-img {
             max-width: 140px;
             float: right;
         }
    }
}