
.about-me-content {
    margin: 70px auto;
    max-width: 1200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;

    .title {
        font-weight: 700;
        font-size: 45px;
        line-height: 45px;
        color: #4a3d5c;
        margin: 0;

        .blinking-cursor {
            font-size: 6rem;
            color: #2c3e50;
            animation: 1s blink step-end infinite;
          }
    }
    
    .desc {
        font-size: 2.5vmin;
        line-height: 30px;
        color: #43434A;
        margin: 35px 0;
    }        

    .my-btns {
        display: flex;
        flex-wrap: nowrap;
        align-self: center;

        a {
            border-radius: 8px;
            padding: 14px 32px;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            background: transparent;
            color: #362D43;
            text-decoration: none;
            border: 2px solid #362D43;
            cursor: pointer;
            display: block;
            position: relative;
            transition: color 0.2s ease-in;

            span {
                position: relative;
                z-index: 1;
            }

            &:first-child {
                margin-right: 8px;
                background: #362D43;
                color: #fff;

                &:focus, &:active, &:target{
                    text-decoration: none;
                    color: #fff;
                }
            }
    
            &:focus, &:active, &:target{
                text-decoration: none;
                color: #362D43;
            }


            &:before {
                background-color: #251E2E;
                content: "";
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
                height: 0%;
                transition: height 0.2s ease-in;
            }

            &:hover:before {
                height: 100%;
            }

            &:hover {
                color: #fff;
            }
        }
    
    }
}

    
@media only screen and (max-width: 1300px) {
    .about-me-content {
    
        .desc {
            line-height: 28px;
        }
    
        .my-btns a{
            padding: 12px 25px;
            font-size: 16px;
            line-height: 18px;
        }
    }
}

@media only screen and (max-width: 850px) {
    .about-me-content {
        .desc {
            font-size: 16px;
            line-height: 24px;
        }
    
        .my-btns a {
            padding: 10px 20px;
            font-size: 16px;
            line-height: 20px;
        }
    }
}
@media only screen and (max-width: 450px) {
    .about-me-content {
        margin: 30px auto;
        .title {
            font-size: 30px;
        }
    }
}

